gen
test-gen
out
.idea/libraries
.idea/dictionaries
.idea/shelf
test-res/*.stash
target/
workspace.xml
dependency-reduced-pom.xml
.idea/csv-plugin.xml
.idea/compiler.xml
.idea/UIDesigner.xml
.idea/libraries/
libraries/ness/datalake/temp
libraries/ness/ingestion/temp
.intino/artifacts
temp